aiofiles==24.1.0
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
audioldm @ git+https://github.com/haoheliu/AudioLDM.git@daf755c3ac6005d891ad1a974b4c401f8c5d4c7d
audioread
babel
beautifulsoup4
bleach
Brotli
cached-property
certifi
cffi
chardet==5.2.0
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
docker-pycreds==0.4.0
einops==0.8.1
eval_type_backport
exceptiongroup
executing
fastapi==0.115.12
fastjsonschema
ffmpy==0.5.0
filelock
fonttools
fqdn
fsspec
ftfy==6.3.1
gitdb
GitPython
gmpy2
gradio==5.25.2
gradio_client==1.8.0
graphviz==0.20.3
groovy==0.1.2
h11
h2
hpack
httpcore
httpx
huggingface-hub==0.30.2
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lazy_loader
librosa==0.9.2
lightning
lightning-utilities
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.10.1
matplotlib-inline
mdurl==0.1.2
mistune
mpmath
msgpack
munkres==1.1.4
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook
notebook_shim
numba==0.60.0
numpy==1.23.5
optree
orjson==3.10.16
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
pooch
progressbar==2.5
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pybind11
pybind11_global
pycparser
pydantic
pydantic_core
pydub==0.25.1
Pygments
pyparsing
PySide6==6.9.0
PySocks
python-dateutil
python-json-logger
python-multipart==0.0.20
pytorch-lightning
pytz
PyYAML
pyzmq
referencing
regex==2024.11.6
requests
resampy==0.4.3
rfc3339_validator
rfc3986-validator
rich==14.0.0
rpds-py
ruff==0.11.6
safehttpx==0.1.6
scikit-learn
scipy
semantic-version==2.10.0
Send2Trash
sentry-sdk
setproctitle
shellingham==1.5.4
shiboken6==6.9.0
six
smmap
sniffio
soundfile
soupsieve
soxr
stack_data
standard-aifc
standard-sunau
starlette==0.46.2
sympy
terminado
threadpoolctl
tinycss2
tokenizers==0.13.3
tomli
tomlkit==0.13.2
torch
torchaudio
torchlibrosa==0.0.9
torchmetrics
torchvision
torchvision-extra-decoders
torchviz==0.0.3
tornado
tqdm
traitlets
transformers==4.29.0
triton
typer==0.15.2
types-python-dateutil
typing-inspection
typing_extensions
typing_utils
tzdata
unicodedata2
uri-template
urllib3
uvicorn==0.34.1
wandb
wcwidth
webcolors
webencodings
websocket-client
websockets==15.0.1
zipp
zstandard==0.23.0
