filelock==3.18.0
wheel==0.45.1
gitdb==4.0.12
h11==0.14.0
pycparser==2.22
prompt_toolkit==3.0.50
llvmlite==0.44.0
nest_asyncio==1.6.0
nbclient==0.10.2
PySide6==6.9.0
jupyter_server==2.15.0
beautifulsoup4==4.13.3
typing_utils==0.1.0
rfc3986-validator==0.1.1
audioread==3.0.1
pytz==2024.1
lightning-utilities==0.14.3
PySocks==1.7.1
annotated-types==0.7.0
sympy==1.13.3
zipp==3.21.0
arrow==1.3.0
matplotlib==3.10.1
argon2-cffi-bindings==21.2.0
Jinja2==3.1.6
sniffio==1.3.1
scipy==1.15.2
types-python-dateutil==2.9.0.20241206
protobuf==5.29.3
docker-pycreds==0.4.0
hpack==4.1.0
pkgutil_resolve_name==1.3.10
ptyprocess==0.7.0
pybind11==2.13.6
charset-normalizer==3.4.1
jupyter-lsp==2.2.5
Brotli==1.1.0
attrs==25.3.0
lightning==2.5.1
eval_type_backport==0.2.2
numba==0.61.0
certifi==2025.1.31
ipython==8.34.0
packaging==24.2
pillow==11.1.0
executing==2.1.0
six==1.17.0
soupsieve==2.5
tqdm==4.67.1
munkres==1.1.4
isoduration==20.11.0
importlib_resources==6.5.2
triton==3.2.0+git576374f8
terminado==0.18.1
nbconvert==7.16.6
GitPython==3.1.44
kiwisolver==1.4.7
jupyter_server_terminals==0.5.3
fastjsonschema==2.21.1
setuptools==75.8.2
fsspec==2025.3.2
argon2-cffi==23.1.0
jsonschema==4.23.0
pure_eval==0.2.3
smmap==5.0.2
pybind11_global==2.13.6
fqdn==1.5.1
typing_extensions==4.13.1
httpcore==1.0.7
tzdata==2025.2
appdirs==1.4.4
tomli==2.2.1
asttokens==3.0.0
torchvision==0.21.0
torchmetrics==1.7.0
librosa==0.11.0
torchaudio==2.6.0
soxr==0.5.0.post1
click==8.1.8
pandocfilters==1.5.0
websocket-client==1.8.0
mistune==3.1.3
parso==0.8.4
Pygments==2.19.1
rpds-py==0.24.0
pickleshare==0.7.5
pandas==2.2.3
webcolors==24.11.1
PyYAML==6.0.2
referencing==0.36.2
notebook==7.3.3
comm==0.2.2
joblib==1.4.2
ipykernel==6.29.5
hyperframe==6.1.0
pydantic_core==2.33.1
decorator==5.2.1
standard-aifc==3.13.0
stack_data==0.6.3
python-dateutil==2.9.0.post0
pexpect==4.9.0
urllib3==2.3.0
jupyterlab_server==2.27.3
httpx==0.28.1
async-lru==2.0.5
webencodings==0.5.1
torchvision-extra-decoders==0.0.2
jupyterlab_pygments==0.3.0
wcwidth==0.2.13
rfc3339_validator==0.1.4
gmpy2==2.1.5
typing-inspection==0.4.0
h2==4.2.0
wandb==0.19.9
psutil==7.0.0
pip==25.0.1
unicodedata2==16.0.0
jupyter-events==0.12.0
fonttools==4.57.0
traitlets==5.14.3
numpy==2.1.3
pooch==1.8.2
shiboken6==6.9.0
matplotlib-inline==0.1.7
anyio==4.9.0
pydantic==2.11.2
standard-sunau==3.13.0
mpmath==1.3.0
sentry-sdk==2.25.1
uri-template==1.3.0
pytorch-lightning==2.5.1
msgpack==1.1.0
soundfile==0.13.1
python-json-logger==2.0.7
importlib_metadata==8.6.1
debugpy==1.8.13
cached-property==1.5.2
pyparsing==3.2.3
contourpy==1.3.1
overrides==7.7.0
idna==3.10
cycler==0.12.1
notebook_shim==0.2.4
platformdirs==4.3.7
scikit-learn==1.6.1
pyzmq==26.4.0
bleach==6.2.0
json5==0.12.0
cffi==1.17.1
jupyter_client==8.6.3
threadpoolctl==3.6.0
nbformat==5.10.4
prometheus_client==0.21.1
zstandard==0.23.0
lazy_loader==0.4
tinycss2==1.4.0
defusedxml==0.7.1
optree==0.15.0
tornado==6.4.2
colorama==0.4.6
Send2Trash==1.8.3
requests==2.32.3
jupyterlab==4.3.6
MarkupSafe==3.0.2
jupyter_core==5.7.2
setproctitle==1.3.5
networkx==3.4.2
jedi==0.19.2
torch==2.6.0
babel==2.17.0
exceptiongroup==1.2.2
jsonschema-specifications==2024.10.1
jsonpointer==3.0.0
tomli==2.0.1
jaraco.functools==4.0.1
typing_extensions==4.12.2
zipp==3.19.2
autocommand==2.2.2
packaging==24.2
jaraco.collections==5.1.0
importlib_metadata==8.0.0
backports.tarfile==1.2.0
platformdirs==4.2.2
typeguard==4.3.0
wheel==0.43.0
more-itertools==10.3.0
jaraco.context==5.3.0
inflect==7.3.1
jaraco.text==3.12.1
